<lint-module
    format="1"
    dir="C:\Users\hulks\OneDrive\coding\apps\Time Tracker Moblie\app"
    name=":app"
    type="APP"
    maven="Time Tracker Moblie:app:unspecified"
    agpVersion="9.2.1"
    buildFolder="build"
    bootClassPath="C:\Users\hulks\AppData\Local\Android\Sdk\platforms\android-35\android.jar;C:\Users\hulks\AppData\Local\Android\Sdk\build-tools\36.0.0\core-lambda-stubs.jar"
    javaSourceLevel="11"
    compileTarget="android-35"
    neverShrinking="true"
    highlightGradualR8Api="false">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="release"/>
</lint-module>
